# Analytics 
## Ciências de Dados
### Prof. Dr. Neylson Crepalde

---

## Regressão Logística

In [38]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm
import statsmodels.formula.api as smf
from wooldridge import *
%matplotlib inline

In [6]:
#Get the list of datasets
print(dataWoo())

  J.M. Wooldridge (2016) Introductory Econometrics: A Modern Approach,
  Cengage Learning, 6th edition.

  401k       401ksubs    admnrev       affairs     airfare
  alcohol    apple       approval      athlet1     athlet2
  attend     audit       barium        beauty      benefits
  beveridge  big9salary  bwght         bwght2      campus
  card       catholic    cement        census2000  ceosal1
  ceosal2    charity     consump       corn        countymurders
  cps78_85   cps91       crime1        crime2      crime3
  crime4     discrim     driving       earns       econmath
  elem94_95  engin       expendshares  ezanders    ezunem
  fair       fertil1     fertil2       fertil3     fish
  fringe     gpa1        gpa2          gpa3        happiness
  hprice1    hprice2     hprice3       hseinv      htv
  infmrt     injury      intdef        intqrt      inven
  jtrain     jtrain2     jtrain3       kielmc      lawsch85
  loanapp    lowbrth     mathpnl       meap00_01   meap01
  meap93     meapsingle  minwage       mlb1        mroz
  murder     nbasal      nyse          okun        openness
  pension    phillips    pntsprd       prison      prminwge
  rdchem     rdtelec     recid         rental      return
  saving     sleep75     slp75_81      smoke       traffic1
  traffic2   twoyear     volat         vote1       vote2
  voucher    wage1       wage2         wagepan     wageprc
  wine
None

In [8]:
mroz = dataWoo('mroz')
mroz.head()

   inlf  hours  kidslt6  kidsge6  age  educ  ...  unem  city  exper   nwifeinc     lwage  expersq
0     1   1610        1        0   32    12  ...   5.0     0     14  10.910060  1.210154      196
1     1   1656        0        2   30    12  ...  11.0     1      5  19.499981  0.328512       25
2     1   1980        1        3   35    12  ...   5.0     0     15  12.039910  1.514138      225
3     1    456        0        3   34    12  ...   5.0     0      6   6.799996  0.092123       36
4     1   1568        1        2   31    14  ...   9.5     1      7  20.100058  1.524272       49

[5 rows x 22 columns]

## Wooldridge, example 17.1
### Labor supply of married, working women

Vamos investigar a probabilidade de uma mulher estar no mercado de trabalho dependendo de suas características sociodemográficas. 

`mroz` é um pandas DataFrame com 753 observações e 22 variáveis. 

- inlf: =1 if in lab frce, 1975
- hours: hours worked, 1975
- kidslt6: # kids < 6 years
- kidsge6: # kids 6-18
- age: woman's age in yrs
- educ: years of schooling
- wage: est. wage from earn, hrs
- repwage: rep. wage at interview in 1976
- hushrs: hours worked by husband, 1975
- husage: husband's age
- huseduc: husband's years of schooling
- huswage: husband's hourly wage, 1975
- faminc: family income, 1975
- mtr: fed. marg. tax rte facing woman
- motheduc: mother's years of schooling
- fatheduc: father's years of schooling
- unem: unem. rate in county of resid.
- city: =1 if live in SMSA
- exper: actual labor mkt exper
- nwifeinc: (faminc - wage*hours)/1000
- lwage: log(wage)
- expersq: exper^2

Implemente o seguinte modelo:

$$P(inlf) = \beta nwifeinc + \beta educ + \beta exper + \beta exper^2 + \beta age + \beta kidslt6 + \beta kidsge6$$

In [36]:
mroz.describe()

             inlf        hours     kidslt6  ...    nwifeinc       lwage      expersq
count  753.000000   753.000000  753.000000  ...  753.000000  428.000000   753.000000
mean     0.568393   740.576361    0.237716  ...   20.128964    1.190173   178.038513
std      0.495630   871.314216    0.523959  ...   11.634797    0.723198   249.630849
min      0.000000     0.000000    0.000000  ...   -0.029057   -2.054164     0.000000
25%      0.000000     0.000000    0.000000  ...   13.025040    0.816509    16.000000
50%      1.000000   288.000000    0.000000  ...   17.700001    1.247574    81.000000
75%      1.000000  1516.000000    0.000000  ...   24.466000    1.603571   225.000000
max      1.000000  4950.000000    3.000000  ...   96.000000    3.218876  2025.000000

[8 rows x 22 columns]

In [53]:
mroz.isna().sum()

inlf          0
hours         0
kidslt6       0
kidsge6       0
age           0
educ          0
wage        325
repwage       0
hushrs        0
husage        0
huseduc       0
huswage       0
faminc        0
mtr           0
motheduc      0
fatheduc      0
unem          0
city          0
exper         0
nwifeinc      0
lwage       325
expersq       0
dtype: int64

Se tentarmos ajustar um modelo linear,

In [66]:
fit0 = smf.ols(formula='inlf ~ nwifeinc + educ + exper + np.power(exper, 2) + age + kidslt6 + kidsge6', 
               data=mroz).fit()
print(fit0.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   inlf   R-squared:                       0.264
Model:                            OLS   Adj. R-squared:                  0.257
Method:                 Least Squares   F-statistic:                     38.22
Date:                Mon, 28 Oct 2019   Prob (F-statistic):           6.90e-46
Time:                        22:00:08   Log-Likelihood:                -423.89
No. Observations:                 753   AIC:                             863.8
Df Residuals:                     745   BIC:                             900.8
Df Model:                           7
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
Intercept              0.5855      0.154      3.798      0.000       0.283       0.888
nwifeinc              -0.0034      0.001     -2.351      0.019      -0.006      -0.001
educ                   0.0380      0.007      5.151      0.000       0.024       0.052
exper                  0.0395      0.006      6.962      0.000       0.028       0.051
np.power(exper, 2)    -0.0006      0.000     -3.227      0.001      -0.001      -0.000
age                   -0.0161      0.002     -6.476      0.000      -0.021      -0.011
kidslt6               -0.2618      0.034     -7.814      0.000      -0.328      -0.196
kidsge6                0.0130      0.013      0.986      0.324      -0.013       0.039
==============================================================================
Omnibus:                      169.137   Durbin-Watson:                   0.494
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               36.741
Skew:                          -0.196   Prob(JB):                     1.05e-08
Kurtosis:                       1.991   Cond. No.                     3.06e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.06e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [65]:
fit1 = smf.glm(formula='inlf ~ nwifeinc + educ + exper + np.power(exper, 2) + age + kidslt6 + kidsge6', 
               data=mroz, family=sm.families.Binomial()).fit()
print(fit1.summary())

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:                   inlf   No. Observations:                  753
Model:                            GLM   Df Residuals:                      745
Model Family:                Binomial   Df Model:                            7
Link Function:                  logit   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -401.77
Date:                Mon, 28 Oct 2019   Deviance:                       803.53
Time:                        21:59:45   Pearson chi2:                     732.
No. Iterations:                     5
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------
Intercept              0.4255      0.860      0.494      0.621      -1.261       2.112
nwifeinc              -0.0213      0.008     -2.535      0.011      -0.038      -0.005
educ                   0.2212      0.043      5.091      0.000       0.136       0.306
exper                  0.2059      0.032      6.422      0.000       0.143       0.269
np.power(exper, 2)    -0.0032      0.001     -3.104      0.002      -0.005      -0.001
age                   -0.0880      0.015     -6.040      0.000      -0.117      -0.059
kidslt6               -1.4434      0.204     -7.090      0.000      -1.842      -1.044
kidsge6                0.0601      0.075      0.804      0.422      -0.086       0.207
======================================================================================

In [64]:
fit1.params

Intercept             0.425452
nwifeinc             -0.021345
educ                  0.221170
exper                 0.205870
np.power(exper, 2)   -0.003154
age                  -0.088024
kidslt6              -1.443354
kidsge6               0.060112
dtype: float64

In [22]:
from sklearn.linear_model import LogisticRegression

In [67]:
fit2 = LogisticRegression(penalty='none', solver='newton-cg')
y = mroz.inlf
X = mroz[['nwifeinc', 'educ', 'exper','expersq', 'age','kidslt6','kidsge6']]
fit2.fit(X, y)
print('Intercept:', fit2.intercept_)
print('Coefs:', fit2.coef_)

Intercept: [0.42545235]
Coefs: [[-0.02134517  0.22117037  0.20586953 -0.0031541  -0.08802437 -1.44335413
   0.06011222]]

In [76]:
from sklearn.metrics import confusion_matrix, roc_auc_score

In [77]:
print(confusion_matrix(mroz.inlf, fit2.predict(X)))
print(roc_auc_score(mroz.inlf, fit2.predict(X)))

[[207 118]
 [ 81 347]]
0.7238353702372393